.shop {
  width: 50%;
  margin: 20px auto;
  &__item {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    background-color: #f9f9f9;
    align-items: center;
    &__img {
      width: 50px;
      img {
        width: 100%;
      }
    }
    &__actions {
      height: 20px;
      display: flex;
    }
  }
}
.form {
  width: 20%;
}
