header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 15px;
  height: 80px;
  background-color: #f9f9f9;
}

.nav__item {
  display: flex;

  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  a {
    text-decoration: none;
    color: black;
    padding: 5px;
  }
  &:hover {
    a {
      color: white;
    }
    background: #000;
  }
}
